nav {
            display: flex;
            justify-content: space-between;
            padding: 2rem 2rem;
            background: #007bff;
}

nav ul {
            display: flex;
            list-style: none;
}

nav li {
            padding-left: 1rem;
}

nav a {
            text-decoration: none;
            color: white;
            border: 3px gainsboro solid;
            padding: 10px;
            border-radius: 10px ;
            font-size: 1.2em;
            font-size: large;
}

nav a:hover {
            color: white;
            background: orangered;
            border: 3px gainsboro solid;
}