{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPScanAPI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>IP INFO🔎</h1>
    <form action="/ipinfo" method="get">
        <input type="text" name="ip" placeholder="Search...🔎" , required>
        <button type="submit">Check</button>
    </form>

    {% if ipinfo %}
    <div class="result">
        <h2>IP Information:</h2>
        <p><strong>IP:</strong> {{ ipinfo.ip }}</p>
        <p><strong>City:</strong> {{ ipinfo.city }}</p>
        <p><strong>Region:</strong> {{ ipinfo.region }}</p>
        <p><strong>Country:</strong> {{ ipinfo.country }}</p>
        <p><strong>Location:</strong> {{ ipinfo.loc }}</p>
    </div>
    {% endif %}

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
</body>

</html>